@tailwind base;
@tailwind components;
@tailwind utilities;

/* No @import required */

@layer base {
  html {
    scroll-behaviour: smooth;
  }

  body {
    @apply text-gray-900 bg-white;
  }
}

@layer components {
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .section-padding {
    @apply py-16 md:py-24;
  }
}
